{% set navigationSegment = craft.app.request.getSegment(1) %}
{% set navigationItems = navigation.navigationItems %}

{% if navigationItems is not empty %}
    <header class="g-nav container">
        <a class="home" href="{{ siteUrl }}">{{ siteName }}</a>
        <nav class="g-nav-main" id="main-menu">
            <button class="display-none--desktopOnly" aria-expanded="false" aria-controls="main-menu" id="menu-toggle">Menu</button>
            <ul class="display-none--mobileOnly">
                {% for item in navigationItems %}
                    {% set navigationClass = '' %}
                    {% if navigationSegment is same as item.slug %}
                        {% set navigationClass = navigationClass ~ " g-nav-main-item--active" %}
                    {% endif %}
                    <li>
                        <a href="{{ item.getUrl() }}" class="g-nav-main-item{{ navigationClass }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
{% endif %}