<header class="g-nav">
    <a class="home" href="{{ siteUrl }}">{{ siteName }}</a>

    {% set navSegment = craft.app.request.getSegment(1) %}
    <nav class="g-nav-main" id="main-menu">
        <button aria-expanded="false" aria-controls="main-menu" id="menu-toggle">Menu</button>
        <ul>
            <li>
                <a href="{{ url('blog') }}" class="{{ navSegment == 'blog' ? 'active' : 'inactive' }}">Blog</a>
            </li>
            <li>
                <a href="{{ url('about') }}" class="{{ navSegment == 'about' ? 'active' : 'inactive' }}">About</a>
            </li>
        </ul>
    </nav>
</header>