{% set navigationSegment = craft.app.request.getSegment(1) %}
{% set navigationItems = navigation.navigationItems %}

{% set navigationLogo = siteInfo.siteLogo %}

<header class="g-nav" id="main-menu">
    <div class="container">
        <div class="g-nav-content">
            <a class="g-nav-content-logo" href="{{ siteUrl }}">
                {% if navigationLogo is not empty %}
                    {{ navigationLogo.one().getImg() }}
                {% elseif siteInfo.siteName %}
                    {{ siteInfo.siteName }}
                {% else %}
                    {{ site }}
                {% endif %}
            </a>
            {% if navigationItems is not empty %}
                <button class="display-none--desktopOnly" aria-expanded="false" aria-controls="main-menu-nav"
                        id="main-menu-toggle" aria-label="Navigation toggle">
                    <span class="toggle-btn">
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <nav id="main-menu-nav" class="g-nav-content-main">
                    <ul>
                        {% for item in navigationItems %}
                            {% set navigationClass = '' %}
                            {% if item.button is not empty %}
                                {% set hasDropdown = false %}
                                {% if navigationSegment is same as item.button.value %}
                                    {% set navigationClass = navigationClass ~ " g-nav-content-main-item--active" %}
                                {% endif %}
                                {% if item.dropdownLinks is not empty %}
                                    {% for link in item.dropdownLinks %}
                                        {% if link.button is not empty %}
                                            {% set hasDropdown = true %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <li {% if hasDropdown %}class="g-nav-content-main-dropdown" {% endif %}>
                                    <a href="{{ item.button.getUrl() }}"
                                       class="g-nav-content-main-item{{ navigationClass }}{{ hasDropdown ? " g-nav-content-main-dropdown-toggle" : "" }}"
                                            {% if hasDropdown %}
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                            {% endif %}
                                    ><span aria-hidden="true"
                                           class="g-nav-content-main-item-bubble g-nav-content-main-item-bubble--1"></span><span
                                                aria-hidden="true"
                                                class="g-nav-content-main-item-bubble g-nav-content-main-item-bubble--2"></span><span
                                                aria-hidden="true"
                                                class="g-nav-content-main-item-bubble g-nav-content-main-item-bubble--3"></span>{{ item.button.label }}
                                    </a>
                                    {% if hasDropdown %}
                                        <ul class="g-nav-content-main-dropdown-menu"
                                            aria-label="{{ item.button.label }}">
                                            {% for link in item.dropdownLinks %}
                                                <li>
                                                    <a href="{{ link.button.value }}">{{ link.button.label }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</header>