{# Registering the asset files to be used in head #}
{{ craft.app.view.registerCssFile('@web/assets/css/components/' ~ block.type.handle ~ '.css') }}

{# Setting the variables#}
{% set text = block.text %}
{% set image = block.singleImage %}
{% set coverOrContain = block.coverOrContain %}
{% set placement = block.placementSelect %}
{% set classText = '' %}
{% set classImage = '' %}
{% set classCover = '' %}

{% if image is not empty and placement is not empty %}
    {% switch placement.value %}
        {% case 'right' %}
            {% set classText = 'col-md-6' %}
            {% set classImage = 'col-md-6' %}
        {% case 'left' %}
            {% set classText = 'col-md-6 order-2' %}
            {% set classImage = 'col-md-6 order-1' %}
        {% case 'bottom' %}
            {% set classText = 'col-md-12 mb-4' %}
            {% set classImage = 'col-md-12' %}
        {% case 'top' %}
            {% set classText = 'col-md-12 order-2' %}
            {% set classImage = 'col-md-12 order-1 mb-4' %}
        {% default %}
            {% set classText = 'col-md-6' %}
            {% set classImage = 'col-md-6' %}
    {% endswitch %}

    {% if coverOrContain is not empty %}
        {% if coverOrContain == true %}
            {% set classCover = 'c-contentAndImage-img--contain' %}
        {% endif %}
    {% endif %}
{% endif %}

{% if image is empty %}
    {% set classText = 'col-md-10' %}
{% endif %}

<section class="c-contentAndImage">
    <div class="container">
        <div class="row justify-center">
            <div class="{{ classText }}">
                {% if text is not empty %}
                    <div class="g-content c-contentAndImage-content-text">
                        {{ text }}
                    </div>
                {% endif %}
            </div>
            {% if image is not empty %}
                <div class="{{ classImage }}">
                    <div class="c-contentAndImage-img{{ classCover ? ' ' ~ classCover }}">
                        {{ image.one().getImg() }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>

