{# Registering the asset files to be used in head #}
{{ craft.app.view.registerCssFile('@web/assets/css/components/' ~ block.type.handle ~ '.css') }}

{% set startTitle = placeholders.startBlock.one().questionTitle|default("Ontdek welke school bij je past") %}
{% set startText = placeholders.startBlock.one().questionText|default("") %}
{% set question1Title =placeholders.question1.one().questionTitle|default("Heb je liever een grote school of een kleine school?") %}
{% set question2Title = placeholders.question2.one().questionTitle|default("Werk je liever in de (binnen)stad of daarbuiten?") %}
{% set question3Title = placeholders.question3.one().questionTitle|default("Richt je je liever op theoretische, of op praktijkgerichte lessen?") %}
{% set question4Title = placeholders.question4.one().questionTitle|default("Hoe ver wil je reizen naar je werk?") %}
{% set question4Text = placeholders.question4.one().questionText|default("") %}

{% set startImage = '' %}
{% set question1Image = '' %}
{% set question2Image = '' %}
{% set question3Image = '' %}
{% set question4Image = '' %}

{% if placeholders.startBlock.one().questionImage|default %}
    {% set startImage = placeholders.startBlock.one().questionImage.one().getUrl() %}
{% endif %}

{% if placeholders.question1.one().questionImage|default %}
    {% set question1Image = placeholders.question1.one().questionImage.one().getUrl() %}
{% endif %}

{% if placeholders.question2.one().questionImage|default %}
    {% set question2Image = placeholders.question2.one().questionImage.one().getUrl() %}
{% endif %}

{% if placeholders.question3.one().questionImage|default %}
    {% set question3Image = placeholders.question3.one().questionImage.one().getUrl() %}
{% endif %}

{% if placeholders.question4.one().questionImage|default %}
    {% set question4Image = placeholders.question4.one().questionImage.one().getUrl() %}
{% endif %}

<section class="c-quiz">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="c-quiz-block">
                    {% if startImage %}
                        <img src="{{ startImage }}" alt="">
                    {% endif %}
                    <div class="c-quiz-block-content">
                        <h2>{{ startTitle }}</h2>
                        <div class="c-quiz-block-content-text">
                            {{ startText|raw }}
                        </div>
                        <div class="c-quiz-block-content-btnWrap">
                            <button class="p-btn p-btn--quiz " type="button">Start de test</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="c-quiz-block">
                    {% if question1Image is not empty %}
                        <img src="{{ question1Image }}" alt="">
                    {% endif %}
                    <div class="c-quiz-block-content">
                        <h2>{{ question1Title }}</h2>
                        <fieldset>
                            <legend class="sr-only">{{ question1Title }}</legend>
                            <div class="c-quiz-block-content-radio">
                                <input type="radio" id="largeSchool" name="schoolSelector" value="1">
                                <label for="largeSchool">Grote school</label>
                            </div>
                            <div class="c-quiz-block-content-radio">
                                <input type="radio" id="smallSchool" name="schoolSelector" value="2">
                                <label for="smallSchool">Kleine school</label>
                            </div>
                        </fieldset>
                        <div class="c-quiz-block-content-btnWrap">
                            <button class="p-btn p-btn--quiz" type="button">Volgende</button>
                        </div>
                    </div>
                    <div class="c-quiz-block-progress">
                        <p>Vraag 1 van 4</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="c-quiz-block">
                    {% if question2Image is not empty %}
                        <img src="{{ question2Image }}" alt="">
                    {% endif %}
                    <div class="c-quiz-block-content">
                        <h2>{{ question2Title }}</h2>
                        <fieldset>
                            <legend class="sr-only">{{ question2Title }}</legend>
                            <div class="c-quiz-block-content-radio">
                                <input type="radio" id="downtown" name="location" value="1">
                                <label for="downtown">Binnenstad</label>
                            </div>
                            <div class="c-quiz-block-content-radio">
                                <input type="radio" id="outside" name="location" value="2">
                                <label for="outside">Buiten de stad</label>
                            </div>
                        </fieldset>
                        <div class="c-quiz-block-content-btnWrap">
                            <button class="p-btn p-btn--quiz p-btn--quiz--back" type="button">Vorige</button>
                            <button class="p-btn p-btn--quiz" type="button">Volgende</button>
                        </div>
                    </div>
                    <div class="c-quiz-block-progress">
                        <p>Vraag 2 van 4</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="c-quiz-block">
                    {% if question3Image is not empty %}
                        <img src="{{ question3Image }}" alt="">
                    {% endif %}
                    <div class="c-quiz-block-content">
                        <h2>{{ question3Title }}</h2>
                        <fieldset>
                            <legend class="sr-only">{{ question3Title }}</legend>
                            <div class="c-quiz-block-content-radio">
                                <input type="radio" id="theoretical" name="focus" value="1">
                                <label for="theoretical">Theoretische lessen</label>
                            </div>
                            <div class="c-quiz-block-content-radio">
                                <input type="radio" id="practical" name="focus" value="2">
                                <label for="practical">Praktijkgerichte lessen</label>
                            </div>
                        </fieldset>
                        <div class="c-quiz-block-content-btnWrap">
                            <button class="p-btn p-btn--quiz p-btn--quiz--back" type="button">Vorige</button>
                            <button class="p-btn p-btn--quiz" type="button">Volgende</button>
                        </div>
                    </div>
                    <div class="c-quiz-block-progress">
                        <p>Vraag 3 van 4</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="c-quiz-block">
                    {% if question4Image is not empty %}
                        <img src="{{ question4Image }}" alt="">
                    {% endif %}
                    <div class="c-quiz-block-content">
                        <h2>{{ question4Title }}</h2>
                        <div class="c-quiz-block-content-text">
                            {{ question4Text|raw }}
                        </div>
                        <div class="c-quiz-block-content-textInput">
                            <label for="naam">Postcode* <span class="sr-only">Verplicht</span></label>
                            <input type="text" id="naam" name="naam" required>
                        </div>
                        <fieldset>
                            <legend class="sr-only">{{ question4Title }}</legend>
                            <div class="c-quiz-block-content-radio">
                                <input type="radio" id="shortDistance" name="distance" value="1">
                                <label for="shortDistance">Minder dan 10 km</label>
                            </div>
                            <div class="c-quiz-block-content-radio">
                                <input type="radio" id="mediumDistance" name="distance" value="2">
                                <label for="mediumDistance">Tussen 10 en 25 km</label>
                            </div>
                            <div class="c-quiz-block-content-radio" >
                                <input type="radio" id="farDistance" name="distance" value="2">
                                <label for="farDistance">Meer dan 25 km</label>
                            </div>
                        </fieldset>
                        <div class="c-quiz-block-content-btnWrap">
                            <button class="p-btn p-btn--quiz p-btn--quiz--back" type="button">Vorige</button>
                            <button class="p-btn" type="button">Bekijk mijn resultaat</button>
                        </div>
                    </div>
                    <div class="c-flavourTest-block-progress">
                        <p>Vraag 4 van 4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>